{% load static %}

<!DOCTYPE html>
<html lang="en"><!-- Noncompliant -->
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
  <div id="header">
    <span class="logo">Bookmarks</span>
    <!--用户nav设置.-->
    {% if request.user.is_authenticated %}
      <ul class="menu">
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url 'dashboard' %}">My dashboard</a>
        </li>
        <li {% if section == "images" %}class="selected"{% endif %}>
        <a href="#">Images</a>
        </li>
        <li {% if section == "people" %}class="selected"{% endif %}>
        <a href="#">People</a>
        </li>
      </ul>
    {% endif %}

    <span class="user">
      {% if request.user.is_authenticated %}
        <!--Hello, {{ request.user.first_name }}-->
        Hello {{ request.user.username }},
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Log-in</a>
      {% endif %}
    </span>
  </div>

  <!--message设置.-->
  <!--消息框架包括上下文处理器django.contrib. messages.context_processors.messages，-->
  <!--它将messages变量添加到请求上下文中. 可以在项目TEMPLATES设置的上下文列表中找到它.-->
  <!--可以使用模板中的messages变量向用户显示所有现有消息.-->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message | safe }}
          <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>