<!--从blog/base.html继承模板.-->
{% extends "blog/base.html" %}


{% block title %}My Blog{% endblock %}

{% block content %}
  <h1>My Blog</h1>
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h2>
    <p class="date">
      Published: {{ post.publish }} by {{ post.author }}
    </p>
    <!--truncatewords将值截断为指定的字数，linebreaks将输出转换为HTML换行符. -->
    <!--您可以连接任意多个模板过滤器；每一个都将应用于前一个生成的输出-->
    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}

  <!--设置分页.-->
  <!--由于传递给模板的页面对象称为posts，因此可以在post列表模板中包含分页模板，并传递参数以正确呈现它.-->
  <!--{% include "blog/pagination.html" with page=posts %}-->
  <!--使用类对象的页面视图来传值.-->
  {% include "blog/pagination.html" with page=page_obj %}
{% endblock %}
