{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Log-in</h1>
  <!--显示用户登录的错误信息.-->
  {% if form.errors %}
    <p>
      Your username and password are didn't match.
      Please try again.
    </p>
  {% else %}
    <p>
      Please, use the following form to log-in:
    </p>
  {% endif %}

  <div class="login-form">
    <form action="{% url 'login' %}" method="POST">
      {{ form.as_p }}
      {% csrf_token %}

      <!--添加了一个隐藏的HTML<input>元素来提交名为next的变量的值.-->
      <!--当您在请求中传递下一个参数（例如，http://127.0.0.1:8000/account/login/?next=/account/）.-->
      <input type="hidden" name="next" value="{{ next }}" />

      <p>
        <input type="submit" value="Log-in">
      </p>
    </form>
  </div>
{% endblock %}
