{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>Reset your password</h1>

  <!--view PasswordResetConfirmView检查URL中提供的令牌的有效性，并将validlink变量传递给模板.-->
  <!--如果链接有效，则显示用户密码重置form.-->
  {% if validlink %}
    <p>Please enter your new password twice:</p>

    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}

      <p>
        <input type="submit" value="Change your password" />
      </p>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.
       Please request a new password reset.</p>
  {% endif %}
{% endblock %}